<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="HopeLingerieEntities" connectionString="metadata=res://*/Model.HopeLingerieModel.csdl|res://*/Model.HopeLingerieModel.ssdl|res://*/Model.HopeLingerieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress2005;Initial Catalog=hopeLingerie;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>